<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.katalon.automation.utility.RetryAnnotation"/>
    </listeners>
    <test verbose="2"
          name="automation run"
          parallel="methods" thread-count="2">
        <packages>
            <package name="com.katalon.automation.scripts"/>
        </packages>
    </test>
</suite>